{% extends 'base.html' %}
{% load static %}

{% block content %}
        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home" id="home">
                <div class="home__container bd-grid">
                    <h1 class="home__title"><span>HO</span><br>LA&hearts;</h1>

                    <div class="home__scroll">
                        <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt' ></i>Información</a>
                    </div>

                    <img src="{% static 'website/assets/img/perfilo.png' %}" alt="" class="home__img">
                </div>
            </section>
            
            <!--===== ABOUT =====-->
            <section class="about section" id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="{% static 'website/assets/img/perfil.png' %}" alt="">
                    </div>

                    <div>
                        <h2 class="about__subtitle">Mi nombre es Karin Peña</h2>
                        <span class="about__profession">Web designer</span>
                        <p class="about__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci consectetur, architecto quas fugiat, iste inventore facere repellendus delectus id, vitae blanditiis.</p>

                        <div class="about__social">
                            <a href="#" class="about__social-icon"><i class='bx bxl-linkedin' ></i></a>
                            <a href="#" class="about__social-icon"><i class='bx bxl-github' ></i></a>
                            <a href="#" class="about__social-icon"><i class='bx bxl-dribbble' ></i></a>
                        </div>
                    </div>
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">
                    <div class="skills__box">
                        <h3 class="skills__subtitle">Development</h3>
                        <span class="skills__name">Html</span>
                        <span class="skills__name">Css</span>
                        <span class="skills__name">Javascript</span>
                        <span class="skills__name">Scss</span>
                        <span class="skills__name">React</span>
                        <span class="skills__name">Vue</span>
                        
                        <h3 class="skills__subtitle">Design</h3>
                        <span class="skills__name">Figma</span>
                        <span class="skills__name">Adobe XD</span>
                        <span class="skills__name">Photoshop</span>
                    </div>

                    <div class="skills__img">
                        <img src="{% static 'website/assets/img/skill.jpg' %}" alt="">
                    </div>
                </div>
            </section>

            <!--===== PORTFOLIO =====-->
            <section class="portfolio section" id="portfolio">
                <h2 class="section-title">Portfolio</h2>

                <div class="portfolio__container bd-grid">
                    <div class="portfolio__img">
                        <img src="{% static 'website/assets/img/work1.jpg' %}" alt="">

                        <div class="portfolio__link">
                            <a href="{% url 'details' %}" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="{% static 'website/assets/img/work2.jpg' %}" alt="">

                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="{% static 'website/assets/img/work3.jpg' %}" alt="">

                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="{% static 'website/assets/img/work4.jpg' %}" alt="">

                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="{% static 'website/assets/img/work5.jpg' %}" alt="">

                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="{% static 'website/assets/img/work6.jpg' %}" alt="">

                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <div class="contact__info">
                        <h3 class="contact__subtitle">EMAIL</h3>
                        <span class="contact__text">info.mail.com</span>

                        <h3 class="contact__subtitle">PHONE</h3>
                        <span class="contact__text">+20 999-999</span>

                        <h3 class="contact__subtitle">ADRESS</h3>
                        <span class="contact__text">My contry</span>
                    </div>

                    <form action="" method="post"  role="form" class="contactFormu">
                        {% csrf_token %}
                        <div class="contact__inputs">
                            <input type="text" name="namef" placeholder="Name"  class="contact__input">
                            <input type="text" name="emailf" placeholder="Email" class="contact__input">
                        </div>

                        <textarea name="messagef" id="" cols="0" rows="10" class="contact__input"></textarea>
                        
                        
                        <input type="submit" value="Enviar" class="contact__button">
                    </form>
                </div>
            </section>
        </main>

{% endblock %}