{% extends 'base.html' %}
{% load static %}

{% block content %}
        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home" id="home">
                <div class="home__container bd-grid">
                    <h1 class="home__title"><span>HO</span><br>LA<img src="https://img.icons8.com/fluent/68/000000/cottage.png"/></h1>

                    <div class="home__scroll">
                        <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt' ></i>Información</a>
                    </div>

                    <img src="{% static 'website/assets/img/perfilo.png' %}" alt="" class="home__img">
                </div>
            </section>
            
            <!--===== ABOUT =====-->
            <section class="about section" id="about">
                <h2 class="section-title">Quienes Somos</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="{% static 'website/assets/img/perfil.png' %}" alt="">
                    </div>

                    <div>
                        <h2 class="about__subtitle">Mi nombre es Karin Peña</h2>
                        <span class="about__profession">Agente Inmobiliaria</span>

                        <span class="about__text">Rent a House es una empresa inmobiliaria fundada en 1969, desde entonces se ha dedicado a trabajar
                             incansablemente, hasta lograr formar la gran Organización que representamos en la actualidad.
                             <h2 style="color:#5361FF">Visión</h2>  Lograr el mayor nivel de productividad por Franquiciado mediante la implementación de un modelo único y original de Rent A House. 
                            <span class="moreText">
                             <h2 style="color:#5361FF" >Misión</h2> Prestar servicios inmobiliarios de excelente calidad en las regiones del país donde tengamos presencia, logrando un alto nivel de satisfacción a nuestros Franquiciados. 
                             <h2 style="color:#5361FF">Valores</h2> 1.Honestidad 2.Transparencia 3. Profesionalismo 4.Constancia 5.Creatividad 6.Ética
                            </span>       
                        </span><br><br>
                            <button class="read-more-btn">Leer Más</button>
                            <br>
                        <div class="about__social">
                            <a href="https://www.instagram.com/karinpena.rentahouse/" class="about__social-icon"><i class='bx bxl-instagram' ></i></a>
                            <a href="tel:0414-0619900" class="about__social-icon"><i class='bx bxl-whatsapp' ></i></a>
                            <span class="fcbw">
                            <a  
                               href="https://www.facebook.com/karinpena.rentahouse/" 
                               class="about__social-icon">
                               <i class='bx bxl-facebook'></i>
                            </a>
                            </span>
                            <span class="fcba">
                                <a  
                                href="fb://page/2008156189210939/" 
                                >
                                <i class='bx bxl-facebook bx-sm'></i>
                                </a>
                            </span><br>
                            <form action="https://rentahouseciudadojedakarinpenayasociados.negocio.site/">
                                <button  type="submit" class='google-btn'>
                                    <img src="https://img.icons8.com/officexs/16/000000/google-logo.png">
                                      Sitio Google
                                </button>
                            </form>  
                        </div>
                    </div>
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Equipo</h2>
                <div class="slider owl-carousel">
                    <div class="card">
                      <div class="img"><img src="{% static 'website/assets/img/perfil.png'%}" alt=""></div>
                      <div class="content">
                        <div class="title">Briana Tozour</div>
                        <div class="sub-title">Graphic Designer</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.</p>
                        <!-- <div class="btn">
                          <button>Read more</button>
                        </div> -->
                      </div>
                    </div>
                    <div class="card">
                      <div class="img"><img src="{% static 'website/assets/img/perfil.png'%}" alt=""></div>
                      <div class="content">
                        <div class="title">Pricilla Preez</div>
                        <div class="sub-title">Web Developer</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.</p>
                       <!--  <div class="btn">
                          <button>Read more</button>
                        </div> -->
                      </div>
                    </div>
                    <div class="card">
                      <div class="img"><img src="{% static 'website/assets/img/perfil.png'%}" alt=""></div>
                      <div class="content">
                        <div class="title">Eliana Maia</div>
                        <div class="sub-title">App Developer</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.</p>
                        <!-- <div class="btn">
                          <button>Read more</button>
                        </div> -->
                      </div>
                    </div>
                  </div>
            </section>
          
            
            <!--===== GALERÍA =====-->
            <section class="portfolio section" id="portfolio">
                <h2 class="section-title">Galería</h2>

                <div class="portfolio__container bd-grid">
                    {% for item in items %}
                    <div class="portfolio__img">
                        <img src="{% static item.img %}" alt="">
                        <div class="portfolio__link">
                            <a href="{{item.details}}" class="portfolio__link-name">Ver Detalle</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contacto</h2>

                <div class="contact__container bd-grid">
                    <div class="contact__info">
                        <h3 class="contact__subtitle">EMAIL</h3>
                        <span class="contact__text">karinpena.rentahouse@gmail.com</span>

                        <h3 class="contact__subtitle">TELÉFONO</h3>
                        <span class="contact__text">+0414-0619900</span>

                        <h3 class="contact__subtitle">TELÉFONO OFICINA</h3>
                        <span class="contact__text">+0412-0694527</span>

                        <h3 class="contact__subtitle">DIRECCIÓN</h3>
                        <span class="contact__text">Ave. Trujillo Esquina con Ave. Bolívar, Edificio Hotel América, Piso PB(Galería) Ofic. No.2-1, Casco Central, Ciudad Ojeda, Edo. Zulia. – Venezuela</span>
                    </div>

                    <form action="" method="post"  role="form" class="contactFormu">
                        {% csrf_token %}
                        <div class="contact__inputs">
                            <input type="text" name="namef" placeholder="Name"  class="contact__input">
                            <input type="text" name="emailf" placeholder="Email" class="contact__input">
                        </div>

                        <textarea name="messagef" id="" cols="0" rows="10" class="contact__input"></textarea>
                        
                        
                        <input type="submit" value="Enviar" class="contact__button">
                    </form>
                </div>
            </section>
        </main>

{% endblock %}