{% extends 'base.html' %}
{% load static %}

{% block content %}
    
<body class="inm-body">
        
   
    <div class="inm-container">
        <div class="inm-card">
            <div class="inm-imgBx">
                <img src="https://dl.dropboxusercontent.com/s/2tmowdm9s0xc7dw/casa1.webp?dl=0" alt="imagen">
            </div>
            <div class="inm-content">
                <h2>Casa Uno</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita asperiores provident excepturi nemo assumenda in iusto. Aliquam pariatur impedit fugit ipsa corporis esse deserunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita asperiores provident excepturi nemo assumenda in iusto. Aliquam pariatur impedit fugit ipsa corporis esse deserunt!</p>
            </div>
        </div>
        <div class="inm-card">
            <div class="inm-imgBx">
                <img src="https://dl.dropboxusercontent.com/s/yg8b7dhwcfl70ar/casa2.webp?dl=0" alt="imagen">
            </div>
            <div class="inm-content">
                <h2>Casa Dos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita asperiores provident excepturi nemo assumenda in iusto. Aliquam pariatur impedit fugit ipsa corporis esse deserunt!</p>
            </div>
        </div>
        <div class="inm-card">
            <div class="inm-imgBx">
                <img src="https://dl.dropboxusercontent.com/s/ro2fo1vomx6h9w1/casa3.webp?dl=0" alt="imagen">
            </div>
            <div class="inm-content">
                <h2>Casa Tres</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita asperiores provident excepturi nemo assumenda in iusto. Aliquam pariatur impedit fugit ipsa corporis esse deserunt!</p>
            </div>
        </div>
        <div class="inm-card">
            <div class="inm-imgBx">
                <img src="https://dl.dropboxusercontent.com/s/nbl2st5hrx5h2m0/casa4.webp?dl=0" alt="imagen">
            </div>
            <div class="inm-content">
                <h2>Casa Cuatro</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita asperiores provident excepturi nemo assumenda in iusto. Aliquam pariatur impedit fugit ipsa corporis esse deserunt!</p>
            </div>
        </div>
        <div class="inm-card">
            <div class="inm-imgBx">
                <img src="https://dl.dropboxusercontent.com/s/6uyqwiwsjaqx9sl/casa5.webp?dl=0" alt="imagen">
            </div>
            <div class="inm-content">
                <h2>Casa Cinco</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita asperiores provident excepturi nemo assumenda in iusto. Aliquam pariatur impedit fugit ipsa corporis esse deserunt!</p>
            </div>
        </div>
    </div>

</body>
{% block javascript %}

{% endblock %}

{% block footer %}

{% endblock %}

{% endblock %}